{% load report_filters %}

<div class="row">
    <table class="table table-bordered table-striped">
        <tr>
            <th colspan="2" class="text-center">دارایی ها</th>
            <th colspan="2" class="text-center">بدهی ها و حقوق صاحبان سهام</th>
        </tr>
        <tr>
            <th colspan="2" class="text-center">دارایی های جاری</th>
            <th colspan="2" class="text-center">بدهی های جاری</th>
        </tr>
        <tr>
            <td>
                {{ forms.cacheAndBank.name | default:'-' }}
            </td>
            <td class="text-center">
                {{ forms.cacheAndBank.remain | default:'-' }}
            </td>
            <td>
                {{ forms.businessAccountsAndPayableDocuments.name | default:'-' }}
            </td>
            <td class="text-center">
                {{ forms.businessAccountsAndPayableDocuments.remain | default:'-' }}
            </td>
        </tr>
        <tr>
            <td>
                {{ forms.shortTimeInvestments.name | default:'-' }}
            </td>
            <td class="text-center">
                {{ forms.shortTimeInvestments.remain | default:'-' }}
            </td>
            <td>
                {{ forms.otherAccountsAndPayableDocuments.name | default:'-' }}
            </td>
            <td class="text-center">
                {{ forms.otherAccountsAndPayableDocuments.remain | default:'-' }}
            </td>
        </tr>
        <tr>
            <td>
                {{ forms.commercialAccountsAndReceivables.name | default:'-' }}
            </td>
            <td class="text-center">
                {{ forms.commercialAccountsAndReceivables.remain | default:'-' }}
            </td>
            <td>
                {{ forms.prepayments.name | default:'-' }}
            </td>
            <td class="text-center">
                {{ forms.prepayments.remain | default:'-' }}
            </td>
        </tr>
        <tr>
            <td>
                {{ forms.otherAccountsAndReceivables.name | default:'-' }}
            </td>
            <td class="text-center">
                {{ forms.otherAccountsAndReceivables.remain | default:'-' }}
            </td>
            <td>
                {{ forms.saveTypes.name | default:'-' }}
            </td>
            <td class="text-center">
                {{ forms.saveTypes.remain | default:'-' }}
            </td>
        </tr>
        <tr>
            <td>
                {{ forms.inventories.name | default:'-' }}
            </td>
            <td class="text-center">
                {{ forms.inventories.remain | default:'-' }}
            </td>
            <td>
                {{ forms.paidDividends.name | default:'-' }}
            </td>
            <td class="text-center">
                {{ forms.paidDividends.remain | default:'-' }}
            </td>
        </tr>
        <tr>
            <th>
                {{ forms.totalCurrentAssets.name | default:'-' }}
            </th>
            <th class="text-center">
                {{ forms.totalCurrentAssets.remain | default:'-' }}
            </th>
            <th>
                {{ forms.totalCurrentDebt.name | default:'-' }}
            </th>
            <th class="text-center">
                {{ forms.totalCurrentDebt.remain | default:'-' }}
            </th>
        </tr>
        <tr>
            <th colspan="2" class="text-center">دارایی های غیر جاری</th>
            <th colspan="2" class="text-center">بدهی های غیر جاری</th>
        </tr>
        <tr>
            <td>
                {{ forms.evidentFixedAssets.name | default:'-' }}
            </td>
            <td class="text-center">
                {{ forms.evidentFixedAssets.remain | default:'-' }}
            </td>
            <td>
                {{ forms.longtermAccountsAndPayableDocuments.name | default:'-' }}
            </td>
            <td class="text-center">
                {{ forms.longtermAccountsAndPayableDocuments.remain | default:'-' }}
            </td>
        </tr>
        <tr>
            <td>
                {{ forms.notEvidentAssets.name | default:'-' }}
            </td>
            <td class="text-center">
                {{ forms.notEvidentAssets.remain | default:'-' }}
            </td>
            <td>
                {{ forms.longtermReceivableFunds.name | default:'-' }}
            </td>
            <td class="text-center">
                {{ forms.longtermReceivableFunds.remain | default:'-' }}
            </td>
        </tr>
        <tr>
            <td>
                {{ forms.longTimeInvestments.name | default:'-' }}
            </td>
            <td class="text-center">
                {{ forms.longTimeInvestments.remain | default:'-' }}
            </td>
            <td>
                {{ forms.savedEndingServiceBenefits.name | default:'-' }}
            </td>
            <td class="text-center">
                {{ forms.savedEndingServiceBenefits.remain | default:'-' }}
            </td>
        </tr>
        <tr>
            <td>
                {{ forms.otherAssets.name | default:'-' }}
            </td>
            <td class="text-center">
                {{ forms.otherAssets.remain | default:'-' }}
            </td>
            <th>
                {{ forms.totalNotCurrentDebt.name | default:'-' }}
            </th>
            <th class="text-center">
                {{ forms.totalNotCurrentDebt.remain | default:'-' }}
            </th>
        </tr>
        <tr>
            <th>
                {{ forms.totalNotCurrentAssets.name | default:'-' }}
            </th>
            <th class="text-center">
                {{ forms.totalNotCurrentAssets.remain | default:'-' }}
            </th>
            <th>
                {{ forms.totalDebt.name | default:'-' }}
            </th>
            <th class="text-center">
                {{ forms.totalDebt.remain | default:'-' }}
            </th>
        </tr>
        <tr>
            <th colspan="2">
            </th>
            <th colspan="2" class="text-center">حقوق صاحبان سهام</th>
        </tr>
        <tr>
            <th colspan="2">
            </th>
            <td>
                {{ forms.fund.name | default:'-' }}
            </td>
            <td class="text-center">
                {{ forms.fund.remain | default:'-' }}
            </td>
        </tr>
        <tr>
            <th colspan="2">
            </th>
            <td>

                {{ forms.savings.name | default:'-' }}
            </td>
            <td class="text-center">
                {{ forms.savings.remain | default:'-' }}
            </td>
        </tr>
        <tr>
            <th colspan="2">
            </th>
            <td>
                {{ forms.accumulatedProfit.name | default:'-' }}
            </td>
            <td class="text-center">
                {{ forms.accumulatedProfit.remain | default:'-' }}
            </td>
        </tr>
        <tr>
            <th colspan="2">
            </th>
            <th>
                {{ forms.equitiesSum.name | default:'-' }}
            </th>
            <th class="text-center">
                {{ forms.equitiesSum.remain | default:'-' }}
            </th>
        </tr>
        <tr>
            <th>
                {{ forms.totalAssets.name | default:'-' }}
            </th>
            <th class="text-center">
                {{ forms.totalAssets.remain  | default:'-'}}
            <th>
                {{ forms.totalDebtsAndEquities.name | default:'-' }}
            </th>
            <th class="text-center">
                {{ forms.totalDebtsAndEquities.remain | default:'-' }}
            </th>
        </tr>

    </table>


</div>
