{% load report_filters %}

<div class="col-sm-12 mt-3">
    {% load report_filters %}

    <div class="col-sm-12 mt-3">
        <h4> ماده 1_ طرفین توافق‌نامه</h4>
        <span>
این توافق‌نامه بین {{ forms.first.workshop_personnel.workshop.company.name | default:'-' }} به شمارۀ ثبت {{ forms.first.workshop_personnel.workshop.company.sabt_number | default:'-' }}  به نمایندگی {{ forms.first.workshop_personnel.workshop.company.ceo_name | default:'-' }}  با کد ملی {{ forms.first.workshop_personnel.workshop.company.ceo_national_code | default:'-' }} به عنوان مدیر  عامل / نماینده  به نشانی {{ forms.first.workshop_personnel.workshop.company.address1 | default:'-' }} از این پس کارفرما خوانده می‌شود از یک طرف؛
وآقای/خانم {{ forms.first.workshop_personnel.personnel.full_name | default:'-' }} به کد ملی {{ forms.first.workshop_personnel.personnel.national_code | default:'-' }}  به نشانی و تلفن {{ forms.first.workshop_personnel.personnel.address | default:'-' }} {{ forms.first.workshop_personnel.personnel.mobile_number_1  | default:'-'}} که از این پس کارگر/کارمند نامیده می‌شود از طرف دیگر، به شرح زیر بین طرفین منعقد گردید.
    </span>
        <h4> ماده2: تعاریف اصطلاحات</h4>
        <span>
اصطلاحات مندرج در قرارداد حاضر، صرفاً در معانی مشروح در این ماده به کار می رود:    </span>
        <br>
        <span>
الف- اطلاعات : هر نوع داده که در اسناد و مستندات مکتوب و غیرمکتوب وجود دارد و همچنین کلیه نرم افزارهای مورد استفاده کارفرما  اعم از نرم افزارهای طراحی شده برای کارفرما یا نرم افزارهای عمومی خریداری شده که مجموعاً اطلاعات تجاری نامیده می شود را شامل می شود.    </span>
        <br>
        <span>
ب- اطلاعات شخصی کارکنان : شامل نام و نام خانوادگی، سمت و وظایف و اختیارات مدیران و کارکنان، نشانی محل سکونت، شرایط خانوادگی، معضلات جسمی یا ذهنی، نام کاربری و رمز عبور و شماره حساب اختصاصی کافرما ، مدیران و سایر کارکنان می شود.
    </span>
        <br>
        <span>
پ- اطلاعات محرمانه : کلیه اطلاعات و اسنادی که در روند اجرایی شرکت  نقش کلیدی و حیاتی را ایفاء می کند.
    </span>
        <h4> ماده 3_ موضوع توافق‌نامه</h4>
        <span>
موضوع توافق‌نامه عبارت است از حفظ امانت، رازداری و عدم افشای اطلاعات و اسرار تجاری، خدماتی، اداری، مدارک و مستندات فعلی و آتی اعم از این که به واسطه رابطه همکاری فی مابین و به تبع اشتغال در کار و یا توسط کارفرما در اختیار کارگر/کارمند قرار خواهد گرفت. بود.    </span>
        <span>
            <br>

تبصره ۱: رعایت موضوع این توافق‌نامه، مشمول اعمال مراقبت در خصوص عدم افشای اطلاعات و اسرار هر یک از طرفین توسط سایر عوامل و همکاران متعهد و همچنین جلوگیری از ادامه افشای اطلاعات نیز است.        </span>
        <br>

        <span>

        تبصره ۲: عدم افشای اطلاعات، مستلزم اعمال مراقبت‌های لازم جهت عدم افشای ناخواسته اطلاعات و اسرار تجاری نیز است.       </span>

        <h4> ماده 4_ مصادیق مشمول توافق‌نامه</h4>
        <span>
اسناد محرمانه اطلاعات و مستندات مشمول این تعهدنامه اعم از الکترونیکی، کاغذی و شفاهی شامل و نه محدود به اطلاعات شرکت، اطلاعات مشتریان، تامین کنندگان، کارفرمایان و دیگر ذینفعان، اطلاعات کارکنان و اطلاعات دارایی‌های معنوی شرکت به شرح زیر است:
        </span>
        <br>
        <span>
            کلیه اسناد، اطلاعات، مستندات، فرآورده‌ها، دانش و فنون خاص حرفه‌ای، اسرار و اطلاعات فنی و تخصصی درباره موضوع فعالیت شرکت و یا غیر از آن،تمامی کد های اختصاصی نرم افزار سبحان و لایسنس نرم افزار ، مسائل امنیتی سیستم‌ها، عیوب و نقص‌های احتمالی سیستم‌ها، مباحث مربوط به جلسات داخلی کارفرما برنامه‌های در دست اقدام و آتی که به صورت رسمی یا غیر رسمی در سازمان اعلام گردیده است.
        </span>
        <h4> اطلاعات عمومی</h4>
        <span>
            اطلاعاتی که به موجب قانون، مقررات یا دستور مقامات قضایی ارائه آن ضروری باشد. در این صورت باید کارگر/کارمند مراتب را فوراً و پیش از ارائه اطلاعات یا هم‌زمان با آن به اطلاع کارفرما برساند.
        </span>
        <h4> ماده 5_ تعهدات کارگر/کارمند</h4>
        <span>
5_1: از افشای هرگونه اطلاعات محرمانه و اسرار تجاری به هر طریق اعم از زبانی، دیداری، کتبی و … خودداری نمایند؛
        </span>
        <br>
        <span>
5_2: از اطلاعات محرمانه و اسرار تجاری به نفع خود یا اشخاص ثالث حقیقی و حقوقی به هیچ طریقی استفاده ننمایند؛
        </span>
        <br>
        <span>
5_3: از اطلاعات محرمانه و اسرار تجاری نسخه‌برداری ننموده و یا مقدمات نسخه‌برداری از آن را فراهم نیاورند؛ از اطلاعات محرمانه و اسرار تجاری به نحو مطمئنی نگهداری نموده و اقدامات لازم را جهت جلوگیری از دسترسی، استفاده یا افشای این اطلاعات به عمل آورد؛
        </span>
        <br>
        <span>
5_4: کارگر/کارمند باید تمامی اصل مدارک، کپی‌ها، خلاصه اطلاعات محرمانه یا مواد محرمانه و تمامی نسخ اسناد و اطلاعات دریافتی از طرف کارفرما را که به صورت مکتوب از طریق ایمیل یا بر روی هرگونه ادوات ذخیره‌سازی الکترونیکی از قبیل (سی‌دی، فلش، هارد  و …) و یا از هر طریق دیگر در اختیار وی قرار گرفته است، در صورت درخواست کارفرما بدون هیچ قید و شرط در مدت ....................../در اختیار وی قرار داده و سپس از بین بردن آن‌ها را در نزد خود گواهی و اثبات نماید.تمامی اطلاعات محرمانه و مواد محرمانه، دارایی‌های متعلق به کارفرما محسوب می‌شود.        </span>
        <br>
        <span>
            5-5 شخص متعهد تعهد می نماید که در مدت رابطه استخدامی با کارفرما با هیچ یک از کسب و کارهای رقبا همکاری نداشته باشد.
        </span>
        <br>
        <span>
            5-6 شخص متعهد تعهد می نماید در مدت رابطه استخدامی از هرگونه مصاحبه با روزنامه ها، خبرگزاری ها و رسانه نسبت به ارائه اطلاعات کارفرما  اکیداً خودداری نمایند.
        </span>
        <br>
        <span>
            5-7 شخص متعهد نسبت به اطلاعاتی که در اختیارش قرار دارد دارای وصف امین می باشد و حق هیچ گونه نفع و انتفای از آن اطلاعات را ندارد
        </span>
        <br>
        <span>
            5-8 شخص متعهد تعهد می نماید که اطلاعات و اسناد کارفرما  را صرفاً در راستای اهداف کسب و کار مورد بهره گیری قرار دهد و در صورت نیاز به اصلاح و تغییر در آن اطلاعات بدون موافقت صاحب اطلاعات اقدام به این کار ننماید.
        </span>
        <br>
        <span>
            5-9 کارگر تعهد می نماید تمام کد های نرم افزار سبحان را نزد خود بصورت محرمانه حفظ نمایید.و از افشای ان به افراد متفرقه و یا کسب منفعت از طریق آن خودداری نماید.
        </span>
        <h4>
            ماده 6_ مدت زمان اعتبار توافق‌نامه
        </h4>
        <span>
            6_1: شروع تعهدات کارگر/کارمند هم‌زمان با شروع اولین قرارداد کار بوده و پس از پایان رابطه کاری با کارگر، کارگر ملزم به رعایت محرمانگی مفاد این سند و اطلاعات کارفرما است.
        </span>
        <br>
        <span>
            6_2: اعلام فسخ یا بطلان بند یا موادی از این تفاهم‌نامه از سوی مراجع قانونی به اعتبار باقی توافقات ناشی از تفاهم‌نامه خللی وارد نخواهد کرد.
        </span>
        <h4>
            ماده 7_ جبران خسارات و وجه التزام ناشی از نقض توافق‌نامه
        </h4>
        <span>
    7_1 : در صورت نقض یا عدم اجرای هر یک از مفاد این توافق‌نامه کارگر/کارمند خاطی مکلف به جبران خسارت‌های مادی و معنوی وارده به کارفرما بوده و کارفرما می‌تواند کلیه خسارات و ضرر و زیان‌های وارده به خود را طلب نماید و یا نسبت به طرح دعوی در دادگاه‌های صالحه اقدام نماید.
        </span>
        <br>
        <span>
            7_2: کارگر/کارمند ملتزم می‌گردد در صورت افشاء اطلاعات موضوع این توافقنامه حداقل مبلغ …............................... میلیون تومان به کارفرما بپردازد. این مبلغ هر سال معادل نرخ تورم اعلامی از جانب بانک مرکزی افزایش خواهد یافت.
7_3: افشاء غیر ارادی اطلاعات از جمله: سرقت اطلاعات از کارگر/کارمند سهل‌انگاری و تقصیر وی محسوب شده و مشمول این ماده قرار می‌گیرد.
        </span>
        <br>
        <span>
            7 – 5 : کارگر/کارمند باید به محض کشف هر گونه استفاده و افشای غیر مجاز از اطلاعات یا مواد محرمانه یا هر شکل دیگر از نقض این تفاهم‌نامه از جانب خود، کارفرما را مطلع نموده و به هر روش معقولی مانع استفاده غیرمجاز آن در آن زمان یا آینده گردد.
        </span>
        <br>
        <span>
            7 –6 : در صورت عدم اجرای تعهدات هر یک از مفاد این توافق‌نامه از جانب کارگر/کارمند، مراتب به صورت مکتوب به وی اعلام شده و از موارد قصور در انجام امور محوله و نقض آیین نامه انضباطی کارگاه و از مصادیق ماده 27 قانون کار محسوب می‌شود که به تبع آن کارفرما بدون در نظر گرفتن تشریفات اداری و قضایی و با اعلام کتبی کارفرما قرارداد کار را با رعایت مفاد ماده 27 قانون کار فسخ خواهد کرد.
        </span>
        <br>
        <span>
            7- 7: لازم به ذکر است که فسخ قرارداد کار به دلیل نقض مفاد این توافق، نافی تعهد کارگر/کارمند دایر بر جبران خسارت وارده نخواهد بود.
        </span>
        <br>
        <span>
            7_8: در صورتی که افشای اسرار موضوع این ماده با سوءنیت و عمدی باشد موضوع مطابق قانون قابل پیگیری کیفری خواهد بود که مشمول مجازات تعیین شده در قانون تجارت الکترونیکی و مجازات اسلامی خواهد بود.
        </span>
        <h4>
            ماده 8_ حل اختلافات
        </h4>
        <span>
            8_1: کلیه اختلافات ناشی از اجرا، تفسیر یا تغییر این توافق‌نامه در صورتی که از طریق مذاکره حل ‌و فصل نگردد؛ از طریق مراجع قضایی جمهوری اسلامی ایران قابل پیگیری خواهد بود.
        </span>
        <br>
        <span>
            قانون حاکم بر این توافق‌نامه و رابطه فی مابین طرفین، قوانین کشور جمهوری اسلامی ایران است و مسائل مطروحه مطابق آن مورد تفسیر قرار خواهد گرفت.
        </span>
        <br>
        <span>
            8_2: طرفین تا زمان حل اختلاف ملزم به اجرای این تفاهم‌نامه هستند.
        </span>
        <br>
        <span>
            این توافقنامه در هشت  ماده و در دو نسخه تنظیم و مبادله گردید که هر دو نسخه حکم واحد دارد.
        </span>

        <br>
        <br>
        <br>
        <br>
        <br>
        <h5>
            امضا کارفرما....................................امضاء کارگر.........................................
        </h5>

    </div>

</div>
