{% extends 'base.html' %}
{% load report_filters %}

{% block tab_title %}
    {{ title }}
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <body
            {% if print_document %}
                onload="setTimeout(print, 500);"
            {% endif %}
    >
    <div class="container-fluid rtl">

        {% include 'export/factor_header.html' with right_header_template=right_header_template user=user company=company form=form %}

        {% if additional_data %}
            <div class="row mb-3">
                {% for data in additional_data %}
                    <div class="col-xs-6">
                        <span>{{ data.text }}:</span>
                        <span>{{ data.value }}</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="row">
            <div class="row mt-2 mb-2 mr-4 font-weight-bold" style="font-size: x-small">
                فیلتر های اعمال شده:

            {% for filter in applied_filters %}
                <span class="mr-4" style="font-size: xx-small">
                    {{ filter.text }}
                    {% if filter.typeText %}
                        ({{ filter.typeText }})
                    {% endif %}
                    :
                    {{ filter.value }}
                </span>
            {% endfor %}

            </div>
        </div>
        <div class="row">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    {% for text in headers %}
                        <th class="text-center">{{ text }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in rows %}
                    <tr>
                        <td class="text-center" width="30px">
                            <div>{{ forloop.counter }}</div>
                        </td>
                        {% for value in values %}
                            {% autoescape off %}
                                <td>
                                    <div class="text-center">{% get_value row value raw_headers %}</div>
                                </td>
                            {% endautoescape %}
                        {% endfor %}
                    </tr>
                {% endfor %}

                {% for row in appended_rows %}
                    <tr>
                        <td></td>
                        {% for value in values %}
                            {% autoescape off %}
                                <td class="text-center">{% get_value row value raw_headers %}</td>
                            {% endautoescape %}
                        {% endfor %}
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    </body>

{% endblock %}
