{% load report_filters %}

<div class="row">
    <div class="col-xs-6">
        <table class="table table-bordered table-striped">
            <tr>
                <th colspan="2" class="text-center">
                    <span style="font-size: large; font-weight: bold">دارایی ها</span>
                </th>
            </tr>
            <tr>
                <th colspan="2" class="text-center">دارایی های جاری</th>
            </tr>
            <tr>
                <td>
                    {{ forms.cacheAndBank.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.cacheAndBank.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.shortTimeInvestments.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.shortTimeInvestments.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.investmentImpairmentReserve.name | default:'-' }}
                </td>
                <td class="text-center text-danger">
                    {{ forms.investmentImpairmentReserve.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.commercialAccountsAndReceivables.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.commercialAccountsAndReceivables.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.impairmentReserveTradeReceivables.name | default:'-' }}
                </td>
                <td class="text-center text-danger">
                    {{ forms.impairmentReserveTradeReceivables.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.impairmentReserveNonTradeReceivables.name | default:'-' }}
                </td>
                <td class="text-center text-danger">
                    {{ forms.impairmentReserveNonTradeReceivables.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.otherAccountsAndReceivables.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.otherAccountsAndReceivables.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.inventoryImpairmentReserve.name | default:'-' }}
                </td>
                <td class="text-center text-danger">
                    {{ forms.inventoryImpairmentReserve.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.inventories.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.inventories.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.ordersAndPrepayments.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.ordersAndPrepayments.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.nonCurrentAssetsHeldForSale.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.nonCurrentAssetsHeldForSale.remain | money }}
                </td>
            </tr>
            <tr>
                <td class=" font-weight-bold">
                    {{ forms.totalCurrentAssets.name | default:'-' }}
                </td>
                <td class="text-center font-weight-bold">
                    {{ forms.totalCurrentAssets.remain | money }}
                </td>
            </tr>
            <tr>
                <th colspan="2" class="text-center">دارایی های غیر جاری</th>
            </tr>
            <tr>
                <td>
                    {{ forms.evidentFixedAssets.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.evidentFixedAssets.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.intangibleAssetsAccumulatedDepreciation.name | default:'-' }}
                </td>
                <td class="text-center text-danger">
                    {{ forms.intangibleAssetsAccumulatedDepreciation.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.realEstateInvestment.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.realEstateInvestment.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.notEvidentAssets.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.notEvidentAssets.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.tangibleAssetsAccumulatedDepreciation.name | default:'-' }}
                </td>
                <td class="text-center text-danger">
                    {{ forms.tangibleAssetsAccumulatedDepreciation.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.longTimeInvestments.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.longTimeInvestments.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.longTermPayableDocumentsAndAccounts.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.longTermPayableDocumentsAndAccounts.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.impairmentReserveLongTermReceivables.name | default:'-' }}
                </td>
                <td class="text-center text-danger">
                    {{ forms.impairmentReserveLongTermReceivables.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.storageOfLongTermDoubtfulReceivables.name | default:'-' }}
                </td>
                <td class="text-center text-danger">
                    {{ forms.storageOfLongTermDoubtfulReceivables.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.otherAssets.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.otherAssets.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.accumulatedDepreciationOtherAssets.name | default:'-' }}
                </td>
                <td class="text-center text-danger">
                    {{ forms.accumulatedDepreciationOtherAssets.remain | money }}
                </td>
            </tr>
            <tr>
                <td class=" font-weight-bold">
                    {{ forms.totalNotCurrentAssets.name | default:'-' }}
                </td>
                <td class="text-center font-weight-bold">
                    {{ forms.totalNotCurrentAssets.remain | money }}
                </td>
            </tr>
            <tr>
                <td class="text-center font-weight-bold">
                    {{ forms.totalAssets.name | default:'-' }}
                </td>
                <td class="text-center font-weight-bold">
                    {{ forms.totalAssets.remain | money }}
                </td>
            </tr>


        </table>
    </div>


    <div class="col-xs-6">
        <table class="table table-bordered table-striped">
            <tr>
                <th colspan="2" class="text-center">
                    <span style="font-size: large; font-weight: bold">حقوق مالکانه و بدهی ها</span>
                </th>
            </tr>
            <tr>
                <th colspan="2" class="text-center">بدهی های جاری</th>
            </tr>
            <tr>
                <td>
                    {{ forms.businessAccountsAndPayableDocuments.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.businessAccountsAndPayableDocuments.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.otherAccountsAndPayableDocuments.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.otherAccountsAndPayableDocuments.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.payableTaxes.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.payableTaxes.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.dividendsPayable.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.dividendsPayable.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.receivableFunds.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.receivableFunds.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.saveTypes.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.saveTypes.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.prepayments.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.prepayments.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.nonCurrentAssetsHeldForSaleDebt.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.nonCurrentAssetsHeldForSaleDebt.remain | money }}
                </td>
            </tr>
            <tr>
                <td class=" font-weight-bold">
                    {{ forms.totalCurrentDebt.name | default:'-' }}
                </td>
                <td class="text-center font-weight-bold">
                    {{ forms.totalCurrentDebt.remain | money }}
                </td>
            </tr>
            <tr>
                <th colspan="2" class="text-center">بدهی های غیر جاری</th>
            </tr>
            <tr>
                <td>
                    {{ forms.longtermAccountsAndPayableDocuments.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.longtermAccountsAndPayableDocuments.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.longtermReceivableFunds.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.longtermReceivableFunds.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.savedEndingServiceBenefits.name | default:'-' }}
                </td>
                <td class="text-center">
                    {{ forms.savedEndingServiceBenefits.remain | money }}
                </td>
            </tr>
            <tr>
                <td class=" font-weight-bold">
                    {{ forms.totalNotCurrentDebt.name | default:'-' }}
                </td>
                <td class="text-center font-weight-bold">
                    {{ forms.totalNotCurrentDebt.remain | money }}
                </td>
            </tr>
            <tr>
                <th colspan="2" class="text-center">حقوق مالکانه</th>
            </tr>
            <tr>
                <td>
                    {{ forms.fund.name | default:'-' }}
                </td>
                <td class="text-center ">
                    {{ forms.fund.remain | money }}
                </td>
            </tr>
            <tr>
                <td >
                    {{ forms.capitalIncreaseInProgress.name | default:'-' }}
                </td>
                <td class="text-center ">
                    {{ forms.capitalIncreaseInProgress.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.spendOnStocks.name | default:'-' }}
                </td>
                <td class="text-center ">
                    {{ forms.spendOnStocks.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.savings.name | default:'-' }}
                </td>
                <td class="text-center ">
                    {{ forms.savings.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.extraAssessmentRenewal.name | default:'-' }}
                </td>
                <td class="text-center ">
                    {{ forms.extraAssessmentRenewal.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.foreignOperationExchangeRateDifferences.name | default:'-' }}
                </td>
                <td class="text-center ">
                    {{ forms.foreignOperationExchangeRateDifferences.remain | money }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ forms.accumulatedProfit.name | default:'-' }}
                </td>
                <td class="text-center ">
                    {{ forms.accumulatedProfit.remain | money }}
                </td>
            </tr>
            <tr>
                <td class=" font-weight-bold">
                    {{ forms.equitiesSum.name | default:'-' }}
                </td>
                <td class="text-center font-weight-bold">
                    {{ forms.equitiesSum.remain | money }}
                </td>
            </tr>

            <tr>
                <td class="text-center font-weight-bold">
                    {{ forms.totalDebtsAndEquities.name | default:'-' }}
                </td>
                <td class="text-center font-weight-bold">
                    {{ forms.totalDebtsAndEquities.remain | money }}
                </td>
            </tr>
            {% if form.remainDifference.remain %}
                <tr>
                    <td class="text-center font-weight-bold text-danger">
                        {{ forms.remainDifference.name | default:'-' }}
                    </td>
                    <td class="text-center font-weight-bold text-danger">
                        دارد
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="text-center font-weight-bold text-success">
                        {{ forms.remainDifference.name | default:'-' }}
                    </td>
                    <td class="text-center font-weight-bold text-success">
                        ندارد
                    </td>
                </tr>

            {% endif %}

        </table>


    </div>
</div>

