{% load report_filters %}

<div class="col-sm-12 mt-3">

    <table class="table table-bordered table-striped mt-1">
        <tr>
            <th class="text-center">ردیف</th>
            <th class="text-center">تاریخ</th>
            <th class="text-center"> کاربر</th>
            <th class="text-center">مقدار</th>
            <th class="text-center">نحوه تغییر</th>
            <th class="text-center">نوع تغییر</th>
            <th class="text-center">جزئیات</th>
        </tr>
        {% for item in forms %}
            <tr>
                <td>
                    {{ forloop.counter }}
                </td>
                <td>
                    {{ item.form.created_at | jDate }}
                </td>
                <td>
                    {{ item.created_by.name  | default:'-'}}
                </td>
                <td>
                    {{ item.rate | default:'-' }}
                </td>
                <td>
                    {% if form.is_percent %}
                    درصد
                    {% endif %}
                    {% if not form.is_percent %}
                    کاهش
                    {% endif %}
                </td>
                <td>
                    {% if form.is_increase %}
                    افزایش
                    {% endif %}
                    {% if not form.is_increase %}
                    مبلغ
                    {% endif %}
                </td>
                <td>
                    {{ item.detail | default:'-' }}
                </td>
            </tr>
        {% endfor %}

    </table>
</div>


