{% load report_filters %}

<div class="row">
    <table class="table table-bordered table-striped">

        <tr>
            <th>شماره مناقصه</th>
            <th>عنوان</th>
            <th>شرح مناقصه</th>
    <th>طبقه بندی موضوعی</th>
    <th>استان محل اجرا</th>
    <th>شهر محل اجرا</th>
    <th>مناقصه گزار</th>
    <th>کد پستی مناقصه گزار</th>
    <th>آدرس مناقصه گزار</th>
    <th>مهلت دریافت اسناد</th>
    <th>مهلت ارسال پاکت های پیشنهاد</th>
    <th>زمان بازگشایی پاکت ها</th>
    <th>"زمان اعتبار پیشنهاد</th>
  </tr>
          {% for form in forms %}

  <tr>
      <td>{{ form.code | default:'-'}}</td>
      <td>{{ form.title | default:'-'}}</td>
      <td>{{ form.explanation | default:'-'}}</td>
      <td>{{ form.get_classification_display | default:'-'}}</td>
      <td>{{ form.province | default:'-'}}</td>
      <td>{{ form.city | default:'-'}}</td>
      <td>{{ form.bidder | default:'-'}}</td>
      <td>{{ form.bidder_postal_code | default:'-'}}</td>
      <td>{{ form.bidder_address | default:'-'}}</td>
      <td>{{ form.received_deadline | default:'-'}}</td>
      <td>{{ form.send_offer_deadline | default:'-'}}</td>
      <td>{{ form.opening_date | default:'-'}}</td>
      <td>{{ form.offer_expiration | default:'-'}}</td>

  </tr>
        {% endfor %}
</table>
</div>