{% load report_filters %}


{% for form in forms %}

    <div class="row header_box">
        <div class="col-xs-3 mt-2">
            <div class="form-header">

                {% if right_header_template %}
                    {% include right_header_template with form=form %}
                {% endif %}
                <div>
                    <span style=" font-size: x-small">مسئول بسته‌بندی: </span>
                    <span dir="ltr" style="font-weight: bold; font-size: small">{{ packing_admin }} </span>
                </div>
                <div>
                    <span style=" font-size: x-small">ردیف چاپ: </span>
                    <span dir="ltr" style="font-weight: bold; font-size: small"> {{ forloop.counter|add:"700" }} </span>
                </div>

            </div>
        </div>
        <div class="col-xs-6">
            <div class="text-center">
                <h4 class="font-weight-bold">
                    اکسونی
                </h4>
            </div>
            <div class="text-center" style="font-size: 0.9em;">
                {{ title }}
            </div>
        </div>
        <div class="col-xs-3">
            <img
                    class="float-left mt-2"
                    style="height: 35px"
                    src="/media/uploads/images/logo.png" alt=""
            />
        </div>
    </div>


    <div class="row">
        <table class="table-head" style="margin-top: -1px">
            <tbody>
            <tr>
                <td>
                    <span style="font-size: x-small;" class="font-weight-bold"> شناسه سفارش : </span>
                    <span style="font-size: x-small;"> {{ form.id }} </span>
                </td>
                <td>
                    <span style="font-size: x-small;" class="font-weight-bold"> شماره فاکتور : </span>
                    <span style="font-size: x-small;"> {{ form.exuni_tracking_code }} </span>
                </td>
                <td>
                    <span style="font-size: x-small;" class="font-weight-bold"> خریدار : </span>
                    <span style="font-size: x-small;"> {{ form.shipment_address.first_name }}  {{ form.shipment_address.last_name }} {{ forms.customer.mobile_number }}</span>
                </td>
                <td>
                    <span style="font-size: x-small" class="font-weight-bold"> تاریخ : </span>
                    <span style="font-size: x-small"> {{ form.date_time | jDateTime }} </span>
                </td>

            </tr>
            </tbody>
        </table>

    </div>
    <div class="row">
        <table class="table-head" style="margin-top: -1px">
            <tbody>
            <tr>
                <td>
                    <span style="font-size: x-small; font-weight: bold">
                        جعبه :
                    </span>
                    <span style="font-size: x-small;" class="mr-2">
                        کـد
                    </span>
                    <span style="font-size: medium;" class="mr-2">
                            {{ form.find_best_box_for_items.box }}
                    </span>

                </td>
                <td>
                    <span style="font-size: x-small; font-weight: bold" class="mr-4">
                        ابعاد  جعبه :
                    </span>

                    <span style="font-size: x-small;" class="mr-2">
                        {% for i in form.find_best_box_for_items.box_dimensions %}
                            {{ i | money }}
                            {% if forloop.counter < 3 %}
                                ⨉
                            {% endif %}
                        {% endfor %}
                    </span>

                </td>
                <td>
                    <span style="font-size: x-small; font-weight: bold" class="mr-4">
                        حجم استفاده شده :
                    </span>

                    <span style="font-size: x-small;" class="mr-2">
                        {{ form.find_best_box_for_items.used_volume | whole_money }} از {{ form.find_best_box_for_items.total_volume | whole_money }}
                    </span>

                </td>
                <td>
                    <span style="font-size: x-small; font-weight: bold" class="mr-4">
                        وزن تقریبی :
                    </span>

                    <span style="font-size: x-small;" class="mr-2">
                        {{ form.find_best_box_for_items.items_weight }}
                    </span>

                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="table-head" style="margin-top: -1px">
            <tbody>
            <tr>
                <td>
                    <span style="font-size: x-small;" class="font-weight-bold"> کشور : </span>
                    <span style="font-size: x-small;"> ایران </span>
                </td>
                <td>
                    <span style="font-size: x-small;" class="font-weight-bold">استان و شهر : </span>
                    <span style="font-size: x-small;"> {{ form.shipment_address.state }} {{ forms.shipment_address.city }}</span>
                </td>
                <td>
                    <span style="font-size: x-small;" class="font-weight-bold">کد پستی : </span>
                    <span style="font-size: x-small;"> {{ form.shipment_address.zip_code | default:'-' }}</span>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <span style="font-size: x-small;" class="font-weight-bold"> آدرس : </span>
                    <span style="font-size: x-small;">
                    {{ form.shipment_address.address }} -
                    {{ form.shipment_address.house_number | default:'' }}
                    {{ form.shipment_address.house_unit | default:'' }}
                </span>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="row">
        <table class="table table-bordered table-striped" style="margin-top: -1px">
            <thead>
            <tr>
                <th class="text-center" width="20">
                    <span style="font-size: xx-small;">ترتیب</span>
                </th>
                <th class="text-center" colspan="2">
                    <span style="font-size: x-small">قفسه کالا</span>
                </th>

                <th class="text-center" width="80">
                    <span style="font-size: x-small">شناسه کالا</span>
                </th>
                <th class="text-center" width="60">
                    <span style="font-size: x-small">تصویر کالا</span>
                </th>
                <th class="text-center" width="80">
                    <span style="font-size: x-small">تعداد کالا</span>
                </th>
                <th class="text-center">
                    <span style="font-size: x-small">نام کالا</span>
                </th>
                <th class="text-center">
                    <span style="font-size: x-small">مبلغ کالا</span>
                </th>
                <th class="text-center">
                    <span style="font-size: x-small">مبلغ کل</span>
                </th>

            </tr>
            </thead>
            <tbody>
            {% for item in form.sorted_items %}
                <tr>
                    <td class="text-center" width="20">
                        <span style="font-size: xx-small">{{ forloop.counter }}</span>
                    </td>
                    <td class="text-center" width="20">
                        <span style="font-size: small">
                            {{ item.product.shelf_number }}
                        </span>
                        <p style="font-size: xx-small">
                            ستون
                        </p>
                    </td>
                    <td class="text-center" width="20">
                        <span style="font-size: small">
                            {{ item.product.aisle }}
                        </span>
                        <p style="font-size: xx-small">
                            ردیف
                        </p>

                    </td>

                    <td class="text-center">
                    <span style="font-weight: normal ">
                        {{ item.product.sixteen_digit_code|slice:":-4" }}<b
                            style="font-size: 14px">{{ item.product.sixteen_digit_code|slice:"-4:" }}</b>
                    </span>
                    </td>
                    <td class="text-center" width="70">
                        {% if item.product.picture %}
                            <img width="80" src="{{ item.product.picture.url }}" alt={{ item.product.name }}>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <span style="font-weight: bold ">
                            {{ item.product_quantity | money }}
                            عدد
                        </span>
                    </td>
                    <td class="text-center">
                        {% if  item.product.variation_of %}
                            <p style="font-size: x-small">
                                {{ item.product.variation_of.name | money }}
                            </p>
                        {% endif %}
                        <p style="font-weight: bold ">
                            {{ item.product.name  | default:'-' }}
                        </p>
                    </td>
                    <td class="text-center">
                        <p style="font-size: small">
                            {{ item.price | money }}
                        </p>
                        {% if  item.product.regular_price !=  item.price %}
                            <div class="price-container" style="font-size: x-small">
                                <svg class="price-svg-line" width="100%" height="100%">
                                    <line x1="0" y1="100%" x2="100%" y2="0" stroke="black" stroke-width="1"/>
                                </svg>
                                {{ item.product.regular_price  | money }}
                            </div>
                        {% endif %}

                    </td>
                    <td class="text-center">
                        <span style="font-size: small">
                            {{ item.price_sum | money }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="5" rowspan=4 class="text-center">
                    <p style="font-size: x-small; font-weight: bold">تعداد مدل محصول در سفارش : </p>
                    <span style="font-size: small" class="mr-2">
                        {{ form.items.count | money }}
                    </span>
                    <span style="font-size: x-small">
                        محصول
                    </span>

                </td>
                <td rowspan="4" class="text-center">
                    <p style="font-size: x-small; font-weight: bold">جمع اقلام : </p>
                    <span style="font-size: small" class="mr-2">
                        {{ form.total_product_quantity | money }}
                    </span>
                    <span style="font-size: x-small">
                        عدد
                    </span>

                </td>
                <td rowspan="4">
                    <p style="font-size: 9px; font-weight: bold">
                        {{ form.shipment_address.first_name }} {{ form.shipment_address.last_name }} جان، ممنون واسه صبر
                        و شکیبایی شما
                    </p>
                    <p style="font-size: 8px">
                        ⚙️ بسته‌بندی هوشمند با تکنولوژی پیشرفته آغاز شد
                    </p>
                    <p style="font-size: 8px">
                        از الان سفارش ها با نهایت سرعت و دقت در حال آماده‌سازیه 😊

                    </p>
                </td>
                <td class="text-center">
                <span style="font-size: x-small; font-weight: bold">
                    جمع
                </span>
                </td>
                <td class="text-center">
                <span style="font-size:  xx-small">
                    {{ form.total_price | money }}
                </span>
                </td>

            </tr>
            <tr>
                <td class="text-center">
                <span style="font-size: xx-small; font-weight: bold">
                    مبلغ تخفیف
                </span>
                </td>
                <td class="text-center">

                <span style="font-size: xx-small">
                    {{ form.discount_amount | money }}
                </span>
                </td>

            </tr>
            <tr>
                <td class="text-center">
                <span style="font-size: xx-small; font-weight: bold">
                    هزینه ارسال
                </span>
                </td>
                <td class="text-center">

                <span style="font-size: xx-small">
                    {{ form.shipping_method.base_price | money }}
                </span>
                </td>

            </tr>
            <tr>
                <td class="text-center">
                <span style="font-size: xx-small; font-weight: bold">
                    مبلغ نهایی
                </span>
                </td>
                <td class="text-center">
                <span style="font-size: xx-small">
                    {{ form.final_amount | money }}
                </span>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped" style="margin-top: -1px">
            <thead>
            <tr>
                <th class="text-center">
                    <span style="font-size: x-small">
                            ترتیب چیدمان
                    </span>
                </th>
                <th class="text-center">
                    <span style="font-size: x-small">
                            محصول (نحوه چیدمان)
                    </span>
                </th>
                <th class="text-center">
                    <span style="font-size: x-small">
                            ابعاد
                    </span>
                </th>
                <th class="text-center">
                    <span style="font-size: x-small">
                            وزن تقریبی
                    </span>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in form.find_best_box_for_items.packing_plan %}
                <tr>
                    <td class="text-center">
                        <span style="font-size: xx-small">
                            {{ forloop.counter }}
                        </span>
                    </td>
                    <td class="text-center">
                        <span style="font-size: xx-small">
                            {{ item.item }}
                        </span>
                        ←

                        <span style="font-size: xx-small">
                            {{ item.placement }}
                        </span>

                    </td>
                    <td class="text-center">
                        <span style="font-size: xx-small">
                        {% for i in item.size %}
                            {{ i | money }}
                            {% if forloop.counter < 3 %}
                                ⨉
                            {% endif %}
                        {% endfor %}
                        </span>
                        <span style="font-size: 8px">
                            سانت
                        </span>

                    </td>
                    <td class="text-center">
                        <span style="font-size: xx-small">
                            1 ± {{ item.weight | roundMoney }}
                        </span>
                        <span style="font-size: 8px">
                            گرم
                        </span>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>




    <div class="page-break"></div>
    <div class="row header_box">
        <div class="col-xs-3 mt-2">
            <div class="form-header">
                {% if right_header_template %}
                    {% include right_header_template with form=form %}
                {% endif %}
                <div>
                    <span style=" font-size: x-small">مسئول بسته‌بندی: </span>
                    <span dir="ltr" style="font-weight: bold; font-size: small">{{ packing_admin }} </span>
                </div>
                <div>
                    <span style=" font-size: x-small">ردیف چاپ: </span>
                    <span dir="ltr" style="font-weight: bold; font-size: small"> {{ forloop.counter|add:"700" }} </span>
                </div>

            </div>
        </div>
        <div class="col-xs-6">
            <div class="text-center">
                <h4 class="font-weight-bold">
                    اکسونی
                </h4>
            </div>
        </div>
        <div class="col-xs-3">
            <img
                    class="float-left mt-2"
                    style="height: 35px"
                    src="/media/uploads/images/logo.png" alt=""
            />
        </div>
    </div>
    <div class="row">
        <table class="table-head" style="margin-top: -1px">
            <thead>
            <tr>
                <td>
                    <span style="font-size: x-small;" class="font-weight-bold"> شناسه سفارش : </span>
                    <span style="font-size: x-small;"> {{ form.id }} </span>
                </td>

                <td>
                    <span style="font-size: x-small;" class="font-weight-bold">شماره فاکتور:</span>
                    <span style="font-size: x-small;">{{ form.exuni_tracking_code }}</span>
                </td>
                <td>
                    <span style="font-size: x-small;" class="font-weight-bold">تاریخ ثبت سفارش:</span>
                    <span style="font-size: x-small;">{{ form.date_time | jDateTime }}</span>
                </td>
            </tr>
            </thead>
        </table>
    </div>
    <div class="row">
        <table class="table-head" style="margin-top: -1px">
            <tbody>
            <tr>
                <td>
                    <span style="font-size: x-small; font-weight: bold">
                        جعبه :
                    </span>
                    <span style="font-size: x-small;" class="mr-2">
                        کـد
                    </span>
                    <span style="font-size: medium;" class="mr-2">
                            {{ form.find_best_box_for_items.box }}
                    </span>

                </td>
                <td>
                    <span style="font-size: x-small; font-weight: bold" class="mr-4">
                        ابعاد  جعبه :
                    </span>

                    <span style="font-size: x-small;" class="mr-2">
                        {% for i in form.find_best_box_for_items.box_dimensions %}
                            {{ i | money }}
                            {% if forloop.counter < 3 %}
                                ⨉
                            {% endif %}
                        {% endfor %}
                    </span>

                </td>
                <td>
                    <span style="font-size: x-small; font-weight: bold" class="mr-4">
                        حجم استفاده شده :
                    </span>

                    <span style="font-size: x-small;" class="mr-2">
                        {{ form.find_best_box_for_items.used_volume | whole_money }} از {{ form.find_best_box_for_items.total_volume | whole_money }}
                    </span>

                </td>
                <td>
                    <span style="font-size: x-small; font-weight: bold" class="mr-4">
                        وزن تقریبی :
                    </span>

                    <span style="font-size: x-small;" class="mr-2">
                        {{ form.find_best_box_for_items.items_weight }}
                    </span>

                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="table-head" style="margin-top: -1px; direction: rtl; width: 100%;">
            <thead>
            <!-- Sender Row -->
            <tr>
                <th colspan="2" style="font-size: x-small; font-weight: bold; text-align: center;">
                    <span style="font-size: xx-small; font-weight: bold; ">
                                            مشخصات فرستنده
                    </span>
                </th>
            </tr>
            </thead>
        </table>
        <table class="table-head" style="margin-top: -1px; direction: rtl; width: 100%;">
            <thead>
            <tr>
                <td colspan="2" style="font-size: xx-small; padding-right: 10px;">
                    <span style="font-size: x-small; font-weight: bold;">نام:</span>
                    <span style="font-size: x-small;">فروشگاه اینترنتی اکسونی</span><br>

                    <span style="font-size: x-small; font-weight: bold;">تلفن:</span>
                    <span style="font-size: x-small;">09054785782</span><br>

                    <span style="font-size: x-small; font-weight: bold;">آدرس:</span>
                    <span style="font-size: x-small;">شیراز، بلوار امیرکبیر، مجتمع تجاری ایرانیان پلاک f29</span><br>
                </td>
            </tr>
            </thead>
        </table>
        <table class="table-head" style="margin-top: -1px; direction: rtl; width: 100%;">
            <thead>

            <tr>
                <th colspan="2" style=" text-align: center;">
                    <span style="font-weight: bold; font-size: x-large">
                    مشخصات گیرنده
                    </span>

                </th>
            </tr>
            </thead>
        </table>
        <table class="table-head" style="margin-top: -1px; direction: rtl; width: 100%;">
            <thead>
            <tr>
                <td colspan="2" style="font-size: x-large; padding-right: 10px;">
                    <span style="font-size: x-large; font-weight: bold;">شناسه پستی:</span>
                    <span style="font-size: x-large;">{{ form.id }}</span>
                    <br>
                    <span style="font-size: x-large; font-weight: bold;">نام:</span>
                    <span style="font-size: x-large;">{{ form.shipment_address.first_name }} {{ form.shipment_address.last_name }}</span>
                    <br>
                    <span style="font-size: x-large; font-weight: bold;">تلفن:</span>
                    <span style="font-size: x-large;">{{ form.customer.mobile_number }}</span> <br>

                    <span style="font-size: x-large; font-weight: bold;">کد پستی:</span>
                    <span style="font-size: x-large;">{{ form.shipment_address.zip_code |default:"-" }}</span> <br>

                    <span style="font-size: x-large; font-weight: bold;">آدرس:</span>
                    <span style="font-size: x-large;">ایران،
                    {{ form.shipment_address.state }}،
                    {{ form.shipment_address.city }}،
                    {{ form.shipment_address.address }}
                    {{ form.shipment_address.house_number |default:"" }}
                    {{ form.shipment_address.house_unit |default:"" }}

                    </span>
                </td>
            </tr>
            </thead>
        </table>
    </div>

    <div class="page-break"></div>


{% endfor %}


<style>
    div.header_box {
        margin-top: 30px;
        padding: 5px;
        border: 1px solid black;
    }

    .price-container {
        display: inline-block;
        position: relative;
        font-size: 18px;
        font-weight: normal;
        line-height: 1;
    }

    .price-svg-line {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: 2;
    }

    table.table-head {
        width: 100%;
        border: 1px solid black;
    }

    @media print {

        .page-break {
            page-break-before: always;
        }
    }

</style>
