{% load report_filters %}


{% for form in forms %}

    <div class="row header_box">
        <div class="col-xs-3 mt-2">
            <div class="form-header">

                {% if right_header_template %}
                    {% include right_header_template with form=form %}
                {% endif %}
            </div>
        </div>
        <div class="col-xs-6">
            <div class="text-center">
                <h4 class="font-weight-bold">
                    اکسونی
                </h4>
            </div>
            <div class="text-center" style="font-size: 0.9em;">
                {{ title }}
            </div>
        </div>
        <div class="col-xs-3">
            <img
                    class="float-left mt-2"
                    style="height: 20px"
                    src="/media/uploads/images/logo.webp" alt=""
            />
        </div>
    </div>


    <div class="row">
        <table class="table-head" style="margin-top: -1px">
            <tbody>
            <tr>
                <td>
                    <span style="font-size: x-small;" class="font-weight-bold"> شماره فاکتور : </span>
                    <span style="font-size: x-small;"> {{ form.exuni_tracking_code }} </span>
                </td>
                <td>
                    <span style="font-size: x-small;" class="font-weight-bold"> خریدار : </span>
                    <span style="font-size: x-small;"> {{ form.shipment_address.first_name }}  {{ form.shipment_address.last_name }} {{ forms.customer.mobile_number }}</span>
                </td>
                <td>
                    <span style="font-size: x-small" class="font-weight-bold"> تاریخ : </span>
                    <span style="font-size: x-small"> {{ form.date_time | jDateTime }} </span>
                </td>

            </tr>
            </tbody>
        </table>

    </div>
    <div class="row">
        <table class="table-head" style="margin-top: -1px">
            <tbody>
            <tr>
                <td>
                    <span style="font-size: x-small;" class="font-weight-bold"> کشور : </span>
                    <span style="font-size: x-small;"> {{ form.shipment_address.country }} </span>
                </td>
                <td>
                    <span style="font-size: x-small;" class="font-weight-bold">استان و شهر : </span>
                    <span style="font-size: x-small;"> {{ form.shipment_address.state }} {{ forms.shipment_address.city }}</span>
                </td>
                <td>
                    <span style="font-size: x-small;" class="font-weight-bold">کد پستی : </span>
                    <span style="font-size: x-small;"> {{ form.shipment_address.zip_code }}</span>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <span style="font-size: x-small;" class="font-weight-bold"> آدرس : </span>
                    <span style="font-size: x-small;">
                    {{ form.shipment_address.address }} -
                    {{ form.shipment_address.house_number }} -
                    {{ form.shipment_address.house_unit }}
                </span>
                </td>
            </tr>
            </tbody>
        </table>

    </div>


    <div class="row">
        <table class="table table-bordered table-striped" style="margin-top: -1px">
            <thead>
            <tr>
                <th class="text-center" width="20">
                    <span style="font-size: xx-small;">ردیف</span>
                </th>
                <th class="text-center" width="80">
                    <span style="font-size: x-small">شناسه کالا</span>
                </th>
                <th class="text-center" width="60">
                    <span style="font-size: x-small">تصویر کالا</span>
                </th>
                <th class="text-center" width="80">
                    <span style="font-size: x-small">تعداد کالا</span>
                </th>
                <th class="text-center">
                    <span style="font-size: x-small">نام کالا</span>
                </th>
                <th class="text-center">
                    <span style="font-size: x-small">مبلغ کالا</span>
                </th>
                <th class="text-center">
                    <span style="font-size: x-small">مبلغ کل</span>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in form.items.all %}
                <tr>
                    <td class="text-center" width="20">
                        <span style="font-size: xx-small">{{ forloop.counter }}</span>
                    </td>
                    <td class="text-center">
                    <span style="font-weight: bold ">
                        {{ item.product.sixteen_digit_code  | default:'-' }}
                    </span>
                    </td>
                    <td class="text-center" width="70">
                        {% if item.product.picture %}
                            <img width="80" src="{{ item.product.picture.url }}" alt={{ item.product.name }}>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <span style="font-weight: bold ">
                            {{ item.product_quantity | money }}
                        </span>
                    </td>
                    <td class="text-center">
                        {% if  item.product.variation_of %}
                            <p style="font-size: x-small">
                                {{ item.product.variation_of.name | money }}
                            </p>
                        {% endif %}
                        <p style="font-weight: bold ">
                            {{ item.product.name  | default:'-' }}
                        </p>
                    </td>
                    <td class="text-center">
                        <p style="font-size: small">
                            {{ item.price | money }}
                        </p>
                        {% if  item.product.regular_price !=  item.price %}
                            <div class="price-container" style="font-size: x-small">
                                <svg class="price-svg-line" width="100%" height="100%">
                                    <line x1="0" y1="100%" x2="100%" y2="0" stroke="black" stroke-width="1"/>
                                </svg>
                                {{ item.product.regular_price  | money }}
                            </div>
                        {% endif %}

                    </td>
                    <td class="text-center">
                        <span style="font-size: small">
                            {{ item.price_sum | money }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3" rowspan="4" class="text-center">
                    <p style="font-size: x-small; font-weight: bold">تعداد مدل محصول در سفارش : </p>
                    <span style="font-size: small" class="mr-2">
                        {{ form.items.count | money }}
                    </span>
                    <span style="font-size: x-small">
                        محصول
                    </span>

                </td>
                <td rowspan="4" class="text-center">
                    <p style="font-size: x-small; font-weight: bold">جمع اقلام : </p>
                    <span style="font-size: small" class="mr-2">
                        {{ form.total_product_quantity | money }}
                    </span>
                    <span style="font-size: x-small">
                        عدد
                    </span>

                </td>
                <td rowspan="4">
                    <p style="font-size: 9px; font-weight: bold">
                        {{ form.shipment_address.first_name }} {{ form.shipment_address.last_name }} جان، اکسونی فقط یه
                        فروشگاه نیست،
                    </p>
                    <p style="font-size: 8px">
                        یه مسیر مشترکه که با حضور شما معنا پیدا می‌کنه.!
                    </p>
                    <p style="font-size: 8px">
                        ما قدر لحظه‌ای که انتخاب‌مون کردید رو می‌دونیم، و از ته دل دوست داریم این فقط شروع ماجرا باشه…
                    </p>
                </td>
                <td class="text-center">
                <span style="font-size: x-small; font-weight: bold">
                    جمع
                </span>
                </td>
                <td class="text-center">
                <span style="font-size:  xx-small">
                    {{ form.total_price | money }}
                </span>
                </td>

            </tr>
            <tr>
                <td class="text-center">
                <span style="font-size: xx-small; font-weight: bold">
                    مبلغ تخفیف
                </span>
                </td>
                <td class="text-center">

                <span style="font-size: xx-small">
                    {{ form.discount_amount | money }}
                </span>
                </td>

            </tr>
            <tr>
                <td class="text-center">
                <span style="font-size: xx-small; font-weight: bold">
                    هزینه ارسال
                </span>
                </td>
                <td class="text-center">

                <span style="font-size: xx-small">
                    {{ form.shipping_method.base_price | money }}
                </span>
                </td>

            </tr>
            <tr>
                <td class="text-center">
                <span style="font-size: xx-small; font-weight: bold">
                    مبلغ نهایی
                </span>
                </td>
                <td class="text-center">
                <span style="font-size: xx-small">
                    {{ form.final_amount | money }}
                </span>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="page-break"></div>
    <div class="row header_box">
        <div class="col-xs-3 mt-2">
            <div class="form-header">
                {% if right_header_template %}
                    {% include right_header_template with form=form %}
                {% endif %}
            </div>
        </div>
        <div class="col-xs-6">
            <div class="text-center">
                <h4 class="font-weight-bold">
                    اکسونی
                </h4>
            </div>
        </div>
        <div class="col-xs-3">
            <img
                    class="float-left mt-2"
                    style="height: 20px"
                    src="/media/uploads/images/logo.webp" alt=""
            />
        </div>
    </div>
    <div class="row">
        <table class="table-head" style="margin-top: -1px">
            <thead>
            <tr>
                <td>
                    <span style="font-size: x-small;" class="font-weight-bold">شماره فاکتور:</span>
                    <span style="font-size: x-small;">{{ form.exuni_tracking_code }}</span>
                </td>
                <td>
                    <span style="font-size: x-small;" class="font-weight-bold">تاریخ ثبت سفارش:</span>
                    <span style="font-size: x-small;">{{ form.date_time | jDateTime }}</span>
                </td>
            </tr>
            </thead>
        </table>
    </div>

    <div class="row">
        <table class="table-head" style="margin-top: -1px; direction: rtl; width: 100%;">
            <thead>
            <!-- Sender Row -->
            <tr>
                <th colspan="2" style="font-size: x-small; font-weight: bold; text-align: center;">
                    <span style="font-size: xx-small; font-weight: bold; ">
                                            مشخصات فرستنده
                    </span>
                </th>
            </tr>
            </thead>
        </table>
        <table class="table-head" style="margin-top: -1px; direction: rtl; width: 100%;">
            <thead>
            <tr>
                <td colspan="2" style="font-size: xx-small; padding-right: 10px;">
                    <span style="font-size: x-small; font-weight: bold;">نام:</span>
                    <span style="font-size: x-small;">فروشگاه اینترنتی اکسونی</span><br>

                    <span style="font-size: x-small; font-weight: bold;">تلفن:</span>
                    <span style="font-size: x-small;">09054785782</span><br>

                    <span style="font-size: x-small; font-weight: bold;">آدرس:</span>
                    <span style="font-size: x-small;">شیراز، بلوار امیرکبیر، مجتمع تجاری ایرانیان پلاک f29</span><br>
                </td>
            </tr>
            </thead>
        </table>
        <table class="table-head" style="margin-top: -1px; direction: rtl; width: 100%;">
            <thead>

            <tr>
                <th colspan="2" style=" text-align: center;">
                    <span style="font-weight: bold; font-size: x-large">
                    مشخصات گیرنده
                    </span>

                </th>
            </tr>
            </thead>
        </table>
        <table class="table-head" style="margin-top: -1px; direction: rtl; width: 100%;">
            <thead>
            <tr>
                <td colspan="2" style="font-size: x-large; padding-right: 10px;">
                    <span style="font-size: x-large; font-weight: bold;">نام:</span>
                    <span style="font-size: x-large;">{{ form.shipment_address.first_name }} {{ form.shipment_address.last_name }}</span>
                    <br>
                    <span style="font-size: x-large; font-weight: bold;">تلفن:</span>
                    <span style="font-size: x-large;">{{ form.customer.mobile_number }}</span> <br>

                    <span style="font-size: x-large; font-weight: bold;">کد پستی:</span>
                    <span style="font-size: x-large;">{{ form.shipment_address.zip_code }}</span> <br>

                    <span style="font-size: x-large; font-weight: bold;">آدرس:</span>
                    <span style="font-size: x-large;">{{ form.shipment_address.country }}،
                    {{ form.shipment_address.state }}،
                    {{ form.shipment_address.city }}،
                    {{ form.shipment_address.address }} -
                    {{ form.shipment_address.house_number }} -
                    {{ form.shipment_address.house_unit }}

                    </span>
                </td>
            </tr>
            </thead>
        </table>
    </div>

    <div class="page-break"></div>


{% endfor %}


<style>
    div.header_box {
        margin-top: 30px;
        padding: 5px;
        border: 1px solid black;
    }

    .price-container {
        display: inline-block;
        position: relative;
        font-size: 18px;
        font-weight: normal;
        line-height: 1;
    }

    .price-svg-line {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: 2;
    }

    table.table-head {
        width: 100%;
        border: 1px solid black;
    }

    @media print {

        .page-break {
            page-break-before: always;
        }
    }

</style>
