{% load report_filters %}

{% for form in forms %}
<div class="row header_box">
    <div class="col-xs-3 mt-2">
        <div class="form-header">
            {% if right_header_template %}
                {% include right_header_template with form=form %}
            {% endif %}
        </div>
    </div>
    <div class="col-xs-6">
        <div class="text-center">
            <h4 class="font-weight-bold">
                اکسونی
            </h4>
        </div>
    </div>
    <div class="col-xs-3 logo">
        {% if logo %}
            <img
                    class="float-left mt-2 img-responsive"
                    style="height: 60px;width: 60px;"
                    src="{{ logo }}" alt=""
            />
        {% endif %}
    </div>
</div>
<div class="row">
    <table class="table-head" style="margin-top: -1px">
        <tbody>
        <tr>
            <td>
                <span style="font-size: x-small;" class="font-weight-bold">شماره فاکتور:</span>
                <span style="font-size: x-small;">{{ form.exuni_tracking_code }}</span>
            </td>
            <td>
                <span style="font-size: x-small;" class="font-weight-bold">تاریخ ثبت سفارش:</span>
                <span style="font-size: x-small;">{{ form.date_time | jDateTime }}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <table class="table-head" style="margin-top: -1px; direction: rtl; width: 100%;">
        <tbody>
            <!-- Sender Row -->
            <tr>
                <td colspan="2" style="font-size: xx-small; font-weight: bold; text-align: center;">
                    <span  style="font-size: xx-small; font-weight: bold; ">
                                            مشخصات فرستنده
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-size: xx-small; padding-right: 10px;">
                    <span style="font-size: xx-small; font-weight: bold;">نام:</span>
                    <span style="font-size: xx-small;">فروشگاه اینترنتی اکسونی</span><br>

                    <span style="font-size: xx-small; font-weight: bold;">تلفن:</span>
                    <span style="font-size: xx-small;">09054785782</span><br>

                    <span style="font-size: xx-small; font-weight: bold;">آدرس:</span>
                    <span style="font-size: xx-small;">شیراز، بلوار امیرکبیر، مجتمع تجاری ایرانیان پلاک f29</span><br>
                </td>
            </tr>

            <!-- Receiver Row -->
            <tr>
                <td colspan="2" style=" text-align: center;">
                    <span  style="font-weight: bold; font-size: xx-large">
                    مشخصات گیرنده
                    </span>

                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-size: x-large; padding-right: 10px;">
                    <span style="font-size: x-large; font-weight: bold;">نام:</span>
                    <span style="font-size: x-large;">{{ form.shipment_address.first_name }} {{ form.shipment_address.last_name }}</span> <br>
                    <span style="font-size: x-large; font-weight: bold;">تلفن:</span>
                    <span style="font-size: x-large;">{{ form.customer.mobile_number }}</span> <br>

                    <span style="font-size: x-large; font-weight: bold;">کد پستی:</span>
                    <span style="font-size: x-large;">{{ form.shipment_address.zip_code }}</span> <br>

                    <span style="font-size: x-large; font-weight: bold;">آدرس:</span>
                    <span style="font-size: x-large;">{{ form.shipment_address.country }}،
                    {{ form.shipment_address.state }}،
                    {{ form.shipment_address.city }}،
                    {{ form.shipment_address.address }} -
                    {{ form.shipment_address.house_number }} -
                    {{ form.shipment_address.house_unit }}

                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="page-break"></div>

{% endfor %}

<style>
    table.table-head {
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;
    }

    table.table-head td,
    table.table-head th {
        border: 1px solid black;
        padding: 4px;
        text-align: right;
        vertical-align: top;
    }

    @media print {
        .page-break {
            page-break-before: always;
        }
    }

    div.header_box {
        margin-top: 30px;
        padding: 5px;
        border: 1px solid black;
    }
</style>