{% load report_filters %}


<div class="row">
    <table class="table-head" style="margin-top: -1px">
        <tbody>
        <tr>
            <td colspan="2" width="60%">
                <span style="font-size: x-small" class="font-weight-bold">  خریدار : </span>
                <span style="font-size: x-small"> {{ form.customer_name }} </span>
            </td>
            <td colspan="1">
                <span style="font-size: x-small" class="font-weight-bold">  تلفن : </span>
                <span style="font-size: x-small"> {{ form.phone }} </span>
            </td>
        </tr>
        <tr>
            <td colspan="2" width="60%">
                <span style="font-size: x-small" class="font-weight-bold">آدرس : </span>
                <span style="font-size: x-small"> {{ form.address | default:'-' }} </span>
            </td>
            <td width="20%">
                <span style="font-size: x-small" class="font-weight-bold">کد پستی : </span>
                <span style="font-size: x-small"> {{ form.postal_code | default:'-' }} </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% if form.explanation %}
    <div class="row">
        <table class="table-head" style="margin-top: -1px">
            <tbody>
            <tr>
                <td>
                    <span style="font-size: x-small" class="font-weight-bold">شرح : </span>
                    <span style="font-size: x-small"> {{ form.explanation }} </span>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
{% endif %}


<div class="row">
    <table class="table table-bordered table-striped" style="margin-top: -1px">
        <thead>
        <tr>
            <th class="text-center" width="20">
                <span style="font-size: xx-small;">ردیف</span>
            </th>
            <th class="text-center">
                <span style="font-size: x-small"> تصویر</span>
            </th>
            <th class="text-center">
                <span style="font-size: x-small"> نام کالا</span>
            </th>
            <th class="text-center">
                <span style="font-size: x-small">بارکد کالا</span>
            </th>
            <th class="text-center">
                <span style="font-size: x-small">تعداد</span>
            </th>
            <th class="text-center">
                <span style="font-size: x-small">قیمت واحد</span>
            </th>
            <th class="text-center">
                <span style="font-size: x-small">قیمت کل</span>
            </th>
        </tr>
        </thead>
        <tbody>
        {% get_ordered_items form as items %}
        {% for item in items %}
            <tr>
                <td class="text-center" width="20">
                    <span style="font-size: xx-small">{{ forloop.counter }}</span>
                </td>
                <td class="text-center" width="50">
                    <img
                            class="float-right img-responsive"
                            style="height: 40px;width: 40px;"
                            src="{{ item.product.picture.url }}" alt=""
                    />
                </td>
                <td class="text-center">
                    <span style="font-size: x-small">
                            {{ item.product.name }}
                    </span>
                </td>
                <td class="text-center">
                    <span style="font-size: x-small">
                            {{ item.product.barcode }}
                    </span>
                </td>
                <td class="text-center">
                        <span style="font-size: x-small">
                            {{ item.quantity }}
                        </span>
                </td>
                <td class="text-center">
                        <span style="font-size: x-small">
                            {{ item.amount | money }}
                        </span>
                </td>
                <td class="text-center">
                        <span style="font-size: x-small">
                            {{ item.amount_sum | money }}
                        </span>
                </td>
            </tr>
        {% endfor %}

        <tr>
            <td colspan="6"></td>
            <td class="text-center">
                <span style="font-size: x-small">
                    {{ form.amount_sum | money }}
                </span>

            </td>
        </tr>
        </tbody>
    </table>
</div>


<style>
    table.table-head {
        width: 100%;
        border: 1px solid black;
    }
</style>
